/* styles.css content */
body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Merriweather', serif;
    background-color: #181616; /* Dark brown black background */
}

#main-content {
    position: relative;
    text-align: center;
    height: 100vh; /* Use viewport height for full screen */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#crystal-ball {
    width: 85%; /* Image taking up 2/3 of the screen */
    max-width: 800px; /* Adjust the max width as needed */
    height: auto;
}

#title, #description, #generate-button {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

#title {
    top: 2%; /* Adjust as needed for positioning */
    color: white;
    font-family: 'Dancing Script', cursive;
    font-size: 3.2em;
    text-shadow: 2px 2px 4px #a66dcf;
}

#description {
    top: 12%; /* Positioned below the title */
    color: white;
    font-family: 'Merriweather', serif;
    font-size: 1.4em;
    text-shadow: 2px 2px 4px #000000;
}

#generate-button {
    top: 23%; /* Positioned below the description */
    background-color: transparent;
    border: 2px solid white;
    color: white;
    border-radius: 50%;
    width: 110px;
    height: 110px;
    font-family: 'Merriweather', serif;
    font-size: 1em;
    font-style: italic;
    cursor: pointer;
    box-shadow: 0px 0px 8px 2px #f8c765;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

#generate-button:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

#generated-phrase {
    position: absolute;
    top: 42%; /* Adjust as needed to position over the image */
    left: 50%;
    transform: translateX(-50%);
    color: white;
    text-shadow: 2px 2px 4px #000000;
    font-size: 1.45em;
    text-align: center;
}

.category-1 { font-weight: bold; }
.category-2 { font-style: italic; }
.category-3 { font-weight: normal;} 

#mood-board {
    position: absolute;
    top: 65%; /* Adjust as needed */
    left: 50%;
    color: white;
    text-shadow: 2px 2px 4px #f8c765;
    font-size: 1.20em;
    transform: translateX(-50%);
    text-align: center;
}

#mood-board img {
    width: 180px; 
    height: 180px;
    margin: 12px;
    margin-top: 25px;
    border-radius: 50%;
    border: 3px solid #50127d; 
    box-shadow: 0 0 20px #a66dcf; 
}

/* Additional styles will go here
